<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidlec.wagle">
    <!-- 인터넷을 타고 나갈려면 필요하다. ******************************************* -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/WAGLETheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".FindLocationActivity" />
        <activity android:name=".ViewDetailWagleActivity" />
        <activity android:name=".jhj.Jhj_Post_Gallery_List" />
        <activity android:name=".jhj.Jhj_Post_Notice_List" />
        <activity android:name=".jhj.Jhj_Post_Write_Notice" />
        <activity android:name=".TempActivity" />
        <activity android:name=".MainMoimListActivity" />
        <activity android:name=".activity.wagleSub.AddImageActivity" />
        <activity android:name=".activity.menu.MyMoimActivity" />
        <activity android:name=".activity.menu.MyInfoActivity" />
        <activity android:name=".activity.wagleSub.AddCostActivity" />
        <activity android:name=".activity.wagleSub.AddDHGActivity" />
        <activity android:name=".activity.wagleSub.AddBJMActivity" />
        <activity android:name=".activity.wagleSub.AddWagleActivity" />
        <activity android:name=".MakeMoimActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".activity.user.SignUpActivity" />
        <activity android:name=".activity.user.FindIdPwActivity" />
        <activity android:name=".activity.user.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="ebfdfba386681b78fb5ad51ef1c68da2" />
    </application>

</manifest>